.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.modal {
  background: white;
  width: 360px;
  padding: 24px;
  border-radius: 24px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
}

.colors {
  display: flex;
  gap: 10px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}
.color.selected {
  outline: 3px solid black;
}

.slime-btn-create {
  width: 180px;
  height: 50px;
  background-image: url('/src/assets/Button_save.png');
  background-size: contain;      
  background-repeat: no-repeat;
  background-position: center;  
  cursor: pointer;
  display: block;                
  margin: 0 auto;              
}

.slime-btn-create.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.color.pink { background: #FFB3C7; }
.color.orange { background: #ff9c31; }
.color.yellow { background: #FFD966; }
.color.green { background: #76e592; }
.color.blue { background: #9EC5FF; }
.color.purple { background: #e17ce8; }