.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.modal {
  background: white;
  width: 360px;
  padding: 24px;
  border-radius: 24px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
}
.slime-btn-create {
  width: 180px;
  height: 50px;
  background-image: url('/src/assets/Button_save.png');
  background-size: contain;      
  background-repeat: no-repeat;
  background-position: center;  
  cursor: pointer;
  display: block;                
  margin: 0 auto;              
}